name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend_ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.0'
      
      - name: Install Backend Dependencies
        run: |
          cd backend
          npm install
      
      - name: Run Backend Tests
        run: |
          cd backend
          npm test || echo "No tests"

  frontend_ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.0'
      
      - name: Install Frontend Dependencies
        run: |
          cd frontend
          npm install
      
      - name: Build Frontend
        run: |
          cd frontend
          npm run build

  deploy_to_ec2:
    needs: [backend_ci, frontend_ci]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            if [ ! -d /home/ec2-user/blog-app ]; then
              git clone https://github.com/Sudhirgithib/circle-clone.git /home/ec2-user/blog-app
            fi
            cd /home/ec2-user/blog-app
            git pull origin main
            
            cd backend && npm install && cd ..
            cd frontend && npm install && npm run build && cd ..
            
            pm2 restart blog-app || pm2 start backend/server.js --name blog-app
